h1, p, h2, ul {
    margin: initial;
    padding: initial;
}

h1, h2 { 
    font-size: inherit;
    font-weight: inherit;
}



a {
    color: inherit;
    text-decoration: inherit;
}

.wrapper {
    margin: 0 auto;
    width: 800px;
    background-color: #ccc;
    font-size: inherit;
}

.header {
    color: white;
    background-image: url(images/cover04.png);
    background-size: cover;
    padding: 50px 0;
    text-align: center;
    background-repeat: no-repeat;
}

.header img {
    border-radius: 50%;
    border: 1px solid white
}

.header h1 {
    font-size: 80px;
    font-weight: bold;
}

.header p{
    border-top: 5px solid;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
}
.footer {
    background-color: white;
    text-align: center;
    padding: 20px;
}

.link {
    margin: 20px;
    display: inline-block;
    width: 100px;
    padding: 20px;
    border-radius: 40px;
    border: 4px solid;
    color: #ccc;
}

.link.pink {
    color: pink
}

.link.yellow {
    color: aquamarine
}

.section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    background-image: url(/profile/images/icon-information.png);
    background-repeat: no-repeat;
    background-position: right;
}

.section h2{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 20px;
}

.Skills {
    background-image: url(/profile/images/icon-skills.png);
}